## 함수도 객체다.

- 함수도 다른 객체처럼 클래스를 가지고 있다.
- 함수도 다른 객체처럼 변수에 할당도 가능하고, 즉 매개변수로 전달이 가능합니다,

In [17]:
def add(x, y):
    """덧셈을 위한 함수"""
    return x+y

In [2]:
type(add)

function

In [3]:
import types

In [5]:
print(dir(types))

['AsyncGeneratorType', 'BuiltinFunctionType', 'BuiltinMethodType', 'CellType', 'ClassMethodDescriptorType', 'CodeType', 'CoroutineType', 'DynamicClassAttribute', 'FrameType', 'FunctionType', 'GeneratorType', 'GetSetDescriptorType', 'LambdaType', 'MappingProxyType', 'MemberDescriptorType', 'MethodDescriptorType', 'MethodType', 'MethodWrapperType', 'ModuleType', 'SimpleNamespace', 'TracebackType', 'WrapperDescriptorType', '_GeneratorWrapper', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_calculate_meta', '_cell_factory', 'coroutine', 'new_class', 'prepare_class', 'resolve_bases']

In [6]:
from types import FunctionType

In [7]:
add.__class__ is FunctionType

True

In [10]:
add_ = add

In [12]:
add_(1, 2)

3

In [13]:
id(add_), id(add)

(2186679083792, 2186679083792)

In [15]:
add_.__class__ is FunctionType

True

In [16]:
FunctionType

function

## 매개변수에 초기 고정값 지정하기

- 매개변수에 초기값을 지정하는 이유는 이 매개변수에 인자가 안들어올경우 에러 없이 처리하기 위해 존재.  
- 다른 언어는 함수를 오버로딩이 가능해서 여러 함수를 정의하는 것을 방지하기 위해 초기값을 지정하지만  
- 파이썬은 여러 함수를 동시에 정의할 수 없어서 초기값만으로 여러 함수를 정의한 것처럼 사용하게 됩니다.

In [32]:
def subtract(x = 1, y = 2):
    return x-y

In [19]:
globals()['add']

In [20]:
def add(x, y, z):
    return x+y+z

In [21]:
globals()['add']

In [33]:
def subtract(x = 1, y = 2):
    return x-y

In [34]:
print(dir(subtract))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [35]:
subtract.__defaults__

(1, 2)

In [41]:
subtract(y=3)

-2

In [52]:
def sample_function(a,b, c=1, d=2, *, kwarg1 = "123", kwargs2="name"):
    print(a,b)

In [53]:
sample_function.__defaults__

(1, 2)

In [54]:
sample_function.__kwdefaults__

{'kwarg1': '123', 'kwargs2': 'name'}

In [134]:
N = 3

schedule = [
    {
        'name' : '1일',
        'T': 3,
        'P': 10
    },
    {
        'name' : '2일',
        'T': 2,
        'P': 20
    },
    {
        'name' : '3일',
        'T': 1,
        'P': 20
    }
     
]

In [109]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 1,
        'P': 1
    },
    {
        'name': '2일',
        'T': 1,
        'P': 2
    },
    {
        'name': '3일',
        'T': 1,
        'P': 3
    },
    {
        'name': '4일',
        'T': 1,
        'P': 4
    },
    {
        'name': '5일',
        'T': 1,
        'P': 5
    },
    {
        'name': '6일',
        'T': 1,
        'P': 6
    },
    {
        'name': '7일',
        'T': 1,
        'P': 7
    },
    {
        'name': '8일',
        'T': 1,
        'P': 8
    },
    {
        'name': '9일',
        'T': 1,
        'P': 9
    },
    {
        'name': '10일',
        'T': 1,
        'P': 10
    },
]

In [111]:
N = 10

schedule = [
    {
        'name': '1일',
        'T': 5,
        'P': 10
    },
    {
        'name': '2일',
        'T': 5,
        'P': 9
    },
    {
        'name': '3일',
        'T': 5,
        'P': 8
    },
    {
        'name': '4일',
        'T': 5,
        'P': 7
    },
    {
        'name': '5일',
        'T': 5,
        'P': 6
    },
    {
        'name': '6일',
        'T': 5,
        'P': 10
    },
    {
        'name': '7일',
        'T': 5,
        'P': 9
    },
    {
        'name': '8일',
        'T': 5,
        'P': 8
    },
    {
        'name': '9일',
        'T': 5,
        'P': 7
    },
    {
        'name': '10일',
        'T': 5,
        'P': 6
    },
]

In [82]:
for index, data in enumerate(schedule):
    print(f'{index + 1}일 : {data}')

1일 : {'name': '1일', 'T': 3, 'P': 10}
2일 : {'name': '2일', 'T': 5, 'P': 20}
3일 : {'name': '3일', 'T': 1, 'P': 10}
4일 : {'name': '4일', 'T': 1, 'P': 20}
5일 : {'name': '5일', 'T': 2, 'P': 15}
6일 : {'name': '6일', 'T': 4, 'P': 40}
7일 : {'name': '7일', 'T': 2, 'P': 200}

In [83]:
for data in range(0, N):
    print(data+1)

1
2
3
4
5
6
7

In [85]:
1일 : {'T': 3, 'P': 10} - O -2X -3X - 4O - 5O ( END)
                                          - 5X ( END )
                                     - 4X -5O  ( END )
                        - X - 2O -3X -4X -5X   ( END )
2일 : {'T': 5, 'P': 20} - O
3일 : {'T': 1, 'P': 10}
4일 : {'T': 1, 'P': 20}
5일 : {'T': 2, 'P': 15}
6일 : {'T': 4, 'P': 40}
7일 : {'T': 2, 'P': 200}

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [135]:
result_data = []

for index1, data1 in enumerate(schedule):
    remain_days = N
    result_datum = []
    for index2, data2 in enumerate(schedule):
        if index2 < index1:
            continue
        
        if data2['T'] <= remain_days:
            if len(result_datum) > 0:
                if result_datum[len(result_datum) - 1]['T'] < index2 + 1 and N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
            else:
                if N - (index2) >= data2['T']:
                    result_datum.append(data2)
                    remain_days -= data2['T']
    
    if len(result_datum) > 0:
        result_data.append(result_datum)
        
result = []        

for data in result_data:
    total = 0
    for datum in data:
        total += datum['P']
        
    result.append({'total': total, 'data': data})

from operator import itemgetter

data = sorted(result, key=itemgetter('total'))

print(data)
print(data[len(data) - 1])

[{'total': 10, 'data': [{'name': '1일', 'T': 3, 'P': 10}]}, {'total': 20, 'data': [{'name': '3일', 'T': 1, 'P': 20}]}, {'total': 40, 'data': [{'name': '2일', 'T': 2, 'P': 20}, {'name': '3일', 'T': 1, 'P': 20}]}]
{'total': 40, 'data': [{'name': '2일', 'T': 2, 'P': 20}, {'name': '3일', 'T': 1, 'P': 20}]}

In [127]:
type(schedule)

list

### 익명함수 lambda 함수

- 이름없는 함수를 제작할 수 있다.
- 이름없는 함수는 사용한 즉시 가비지컬렉션으로 사라짐.
- 변수에 할당할 경우는 이름있는 함수로 지정해서 사용해야 함

1. 익명함수 정의 및 실행
- lamda 키워드를 사용
- : ( 콜론 )으로 나눠지는데, 좌측은 매개변수 우측은 표현식을 지정

In [136]:
lambda x : x + 1

In [137]:
(lambda x : x + 1)(3)

4

In [138]:
from types import FunctionType

In [140]:
(lambda x : x + 1).__class__ is FunctionType

True

### 재귀함수

- 함수 자신을 호출하고 함수의 결과와 다른 변수가 계산되어 처리하는 함수
- 꼬리 재귀는 함수 자신만을 호출해서 처리하는 재귀함수
- 특징 : 순환문 없이 함수를 호출해서 순환을 처리

예시 : 5! = 5x4x3x2x1

In [141]:
def factorial_for(n):
    result = 1
    for index in range(1, n + 1):
        result *=index
    return result

In [142]:
factorial_for(5)

120

In [143]:
def factorial_recursive(n):
    return n * factorial_recursive(n-1) if n > 1 else 1

In [144]:
factorial_recursive(5)

120

In [145]:
input_data = input("예제 입력 1 :")

예제 입력 1 :1 2

In [146]:
input_data.split(' ')

['1', '2']

In [147]:
split_input_data = input_data.split(' ')

In [149]:
int(split_input_data[0]) + int(split_input_data[len(split_input_data) - 1])

3

In [180]:

def input_AB():
    input_data = input("예제 입력 : ")
    split_input_data = input_data.split(' ')
    
    A = int(split_input_data[0])
    if( A <= 0 or A >= 10):
        print("A의 범위가 올바르지 않습니다.")
        return None
    
    B = int(split_input_data[1])
    if( B <= 0 or B >= 10):
        print("B의 범위가 올바르지 않습니다.")
        return None
    return(A, B)

def A_add_B():
    data = input_AB()
    if data is None:
        return
    
    print(data[0] + data[1])

def A_multiply_B():
    data = input_AB()
    if data is None:
        return
    print(f'예제 출력: {data[0] * data[1]}')
    
def A_subtract_B():
    data = input_AB()
    if data is None:
        return
    print(f'예제 출력: {data[0] - data[1]}')
    
def A_divide_B():
    data = input_AB()
    if data is None:
        return
    print(f'예제 출력: {data[0] / data[1]}')

In [166]:
A_add_B()

예제 입력 : 1 2
3

In [168]:
A_multiple_B()

예제 입력 : 3 4
12

In [181]:
A_divide_B()

예제 입력 : 4 5
예제 출력: 0.8

In [179]:
A_subtract_B()

예제 입력 : 3 2
예제 출력: 1

In [186]:
sum = 0
for data in range(1000):
    if data % 3 == 0 or data % 5 ==0:
        sum += data
    elif data % 3 == 0 and data % 5 ==0:
        if data % 15 == 0;
            continue
        sum -= data

print (sum)

233168

In [187]:
three_list = []
five_list = []

In [191]:
count = 1000
for data in range(1, count):
    if data % 3 == 0:
        three_list.append(data)
    if data % 5 == 5:
        five_list.append(data)

In [198]:
print(three_list + five_list)

[3, 6, 9, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [197]:
three_set = set(three_list), five_set =s et(five_list)

SyntaxError: invalid syntax (<ipython-input-197-2aa96c3037c4>, line 1)

In [196]:
print(dir(three_set))

NameError: name 'three_set' is not defined

In [202]:
subtract_list = []
for data in three_list:
    if data % 15 == 0:
        subtract_list.append(data)
print(subtract_list)

[15, 30, 45, 60, 75, 90, 105, 120, 135, 150, 165, 180, 195, 210, 225, 240, 255, 270, 285, 300, 315, 330, 345, 360, 375, 390, 405, 420, 435, 450, 465, 480, 495, 510, 525, 540, 555, 570, 585, 600, 615, 630, 645, 660, 675, 690, 705, 720, 735, 750, 765, 780, 795, 810, 825, 840, 855, 870, 885, 900, 915, 930, 945, 960, 975, 990]

In [203]:
type(sum)

int